html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  cursor: default;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  color: $text-colour;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  font-size: $font-size-base;

  &::-webkit-scrollbar {
    width: 0.3em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(76, 156, 213, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(76, 156, 213, 0.5);
    outline: 1px solid rgba(76, 156, 213, 1);
  }
}

section {
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 80%;

  &.column {
    flex-direction: column;
  }
}

p {
  line-height: $line-height-base;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}

a {
  color: $text-colour;
  text-decoration: none;
}

.hr {
  border-bottom: 1px solid $silver;
  border-top: none;
  border-left: none;
  border-right: none;
}

.social-icon {
  font-size: 0px;
  color: $transparent;
}

@include media('<=small') {
  .section {
    padding: ($gutter) 0;
  }
}

@include media('>small') {
  .section {
    padding: ($gutter * 4) 0;
  }
}
